:root {
    --width: 760px;
    --height: 500px;

    --offset-left: 70px;
    --offset-top: 50px;

    --width-wide: calc(var(--width) + var(--offset-left));
    --height-wide: calc(var(--height) + var(--offset-top));

    --header-height: 100px;
    --border-color: rgb(92, 88, 88);
    --border: 6px solid #666;
    --background: #0e0f0f;
    --text: #ddd;
    --text-shadow: #444;
    --border-size: 32px;
}

@font-face {
    font-family: vt200;
    src: url('./vendor/Glass_TTY_VT220.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Helvetica Neue';
}

.title {
    width: var(--width);
    height: var(--header-height);
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding: 20px;
}

.title h1 {
    font-size: 28pt;
    letter-spacing: -.04em;
    text-shadow: 1px 0 0 var(--text-shadow);
}

.crt {
    width: var(--width-wide);
    height: var(--height-wide);
    background: radial-gradient(rgb(64, 67, 66), rgb(49, 51, 51));
    color: #eee;
    overflow: hidden;
    animation: textShadow 1.6s infinite;
    display: flex;
    padding: 4px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .9);

}

/*.border {
    display: inline-block;
    padding: 30px;
    background: var(--border-color);
    border: var(--border);
    border-radius: 8px;
}*/

.border,
.computer-box {
    border: solid var(--border-size) #eee;
    border-left-color: #bbb;
    border-bottom-color: #ccc;
    border-right-color: #ddd;
    border-radius: 12px;
    background-color: #ddd;
}


.frame {
    position: absolute;
    left: calc((100vw - var(--width-wide)) / 2);
    top: calc(var(--header-height) + var(--border-size));
    width: var(--width-wide);
    height: var(--height-wide);
    background-image: url('./assets/frame.png');
    background-size: 100% 100%;
    border-radius: 10px;
}

pre {
    font-family: 'vt200';
    font-size: 14pt;
    line-height: 1.05;
    margin-left: calc(var(--offset-left) / 2);
    margin-top: calc(var(--offset-top) / 2);
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;

    width: var(--width-wide);
    height: var(--height-wide);
}

#input {
    opacity: 0;
}

@keyframes flicker {
    0% {
        opacity: 0.27861;
    }

    5% {
        opacity: 0.34769;
    }

    10% {
        opacity: 0.23604;
    }

    15% {
        opacity: 0.90626;
    }

    20% {
        opacity: 0.18128;
    }

    25% {
        opacity: 0.83891;
    }

    30% {
        opacity: 0.65583;
    }

    35% {
        opacity: 0.67807;
    }

    40% {
        opacity: 0.26559;
    }

    45% {
        opacity: 0.84693;
    }

    50% {
        opacity: 0.96019;
    }

    55% {
        opacity: 0.08594;
    }

    60% {
        opacity: 0.20313;
    }

    65% {
        opacity: 0.71988;
    }

    70% {
        opacity: 0.53455;
    }

    75% {
        opacity: 0.37288;
    }

    80% {
        opacity: 0.71428;
    }

    85% {
        opacity: 0.70419;
    }

    90% {
        opacity: 0.7003;
    }

    95% {
        opacity: 0.36108;
    }

    100% {
        opacity: 0.24387;
    }
}

.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    width: var(--width-wide);
    height: var(--height);
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

@keyframes textShadow {
    0% {
        text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    5% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5), -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    10% {
        text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5), -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    15% {
        text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5), -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    20% {
        text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5), -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    25% {
        text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5), -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    30% {
        text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5), -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    35% {
        text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5), -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    40% {
        text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5), -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    45% {
        text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5), -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    50% {
        text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5), -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    55% {
        text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5), -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    60% {
        text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5), -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    65% {
        text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5), -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    70% {
        text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5), -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    75% {
        text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5), -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    80% {
        text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5), -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    85% {
        text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5), -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    90% {
        text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5), -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    95% {
        text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5), -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    100% {
        text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5), -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
}

@keyframes cursor {
    0% {
        background-color: #eee;
    }

    49% {
        background-color: #eee;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }
}

.cursor {
    animation: cursor 1s infinite;
}


.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stand {
    width: 600px;
    height: 15px;
    background-color: #444;
}

.computer-box {
    display: flex;
    gap: 20px;
    width: var(--width);
    height: 200px;
    border-width: 20px;
    background-color: #0e0f0f;
    padding: 20px;
}

.led {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(216, 72, 72);
    box-shadow: 0 0 5px rgb(247, 106, 106, .9);
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgb(100, 28, 28);
        box-shadow: none
    }
    49% {
        background-color: rgb(100, 28, 28);
        box-shadow: none    
    }
    50% {
        background-color: rgb(216, 72, 72);
        box-shadow: 0 0 5px rgb(247, 106, 106, .9);
    }
}


.switch-border {
    width: 32px;
    height: 60px;
    background-color: rgb(216, 72, 72)
}

.switch {
    width: 22px;
    height: 50px;
    border: 2px solid rgb(40,40,40);
    border-bottom-width: 4px;;
    margin: 5px;
    background: linear-gradient(rgb(100, 28, 28), rgb(216, 72, 72), rgb(216, 72, 72))
}